h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

h1:hover {
    text-transform: uppercase;
    text-shadow: #000000;
}

h2 {
    text-align: center;
}

.todo-text-input {
    background-color: rgb(255, 0, 0);
}

.add-button :hover {
    background-color: rgb(0, 255, 21);
}

.todo-text-input {
    width: 30%;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 4px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px, 8px, 12px, 50px;
    user-select: none;
    cursor: pointer;
}